@model ECommerce.Models.Concrete.Category
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3>Add Category Page</h3>
<hr />

@if (TempData["MsgError"] != null)
{
    <div class="alert alert-danger">@TempData["MsgError"]</div>
    <br />
}

<form method="post" asp-controller="Category" asp-action="AddCategory">

    <div class="form-group col-md-6 offset-md-3">
        <label>Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Category Title..." required />
    </div>
    <br />

    <div class="form-group col-md-6 offset-md-3">
        <label>Description</label>
        <input asp-for="Description" type="text" class="form-control" placeholder="Category Description..." required />
    </div>
    <br />


    <div class="form-group col-md-6 offset-md-3">
        <button type="submit" class="btn btn-info">Add New Category</button>
    </div>

</form>